.main-historia{
    width: 60%;
    margin: auto;
    .texto-historia {
        p{
            margin-top: 30px;
        }
    }
    .libro-historia {
        img {
            width: 100%;
            height: 400px;
            margin-top: 20px;
        }
    }
}



