.cabezera {
    display: flex;  
    .logo {
        height: 60px;
        width: 60px;
    }  
    .nav-menu { 
            ul {
            display: flex;
            margin-top: 16px;
            li{
                margin: 0 20px;
            }
        }
    }
    nav {
        ul {
            li {
                &:hover {
                    transform: scale(1.5,1.5);
                }
                a {
                    color: black;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color:#4A381A ;
                        transition: all 0,5s linear;
                    } 
                }
            }
        }
    } 
}
